*{margin: 0; padding:0;}
body{
    width: 100%;
    height: 100%;
}
/* :root{
    font-family:segoe ui ;
} */

.biglayout{
    font-family:'Segoe UI' ;
    width:80%;
    height: 100%;
    margin: auto;
}

/* menu */
.biglayout .banner {
    width: 100%;
    height: 40px;
    display: flex;
}
.biglayout .banner .logo{
    height: 40px;
    width: 30%;
}
.biglayout .banner  .logo img.img_logo{
    width: 150px;
    height: 40px;
}

.biglayout .banner .menu{
    width: 60%;
    height: 40px;
    font-size: 17px;
}
.biglayout .banner .menu ul.m{
    list-style: none;   
    margin-left: auto;
    margin-right: auto;
    /* padding: 6px; */
    text-align: center;
    
}
.biglayout .banner .menu ul.m li{
    display: inline-block;
    padding: 9px 36px;
    margin: auto;
    transition: 0.3s;
}

.biglayout .banner .menu ul.m li:hover{
    background-image: linear-gradient(rgb(149, 0, 255),rgb(48, 9, 177));
}


    /* chap1 content */
.biglayout .content{
    width: 100%;
    height: 660px;
    /* position: relative; */
}
.biglayout .content {}
    
    /* margin-top: 27px; */

.biglayout .content img{
    width: 100%;
    height: 400px;
    /* margin-left: 20%;
    margin-right: 20%; */
}

.biglayout .content .block {
    font-family: segoe ui;
    position: absolute;
    width: 79%;
    display: flex;
    left: 143px;
    top: 352px;
    
}
        /* khoi */
.biglayout .content .block .b{
    font-family: segoe ui;
    width: 225px;
    height: 300px;
    margin: auto;
}
.biglayout .content .block .b h2.td{
    font-size: 28px;
    margin-left: 30px;
    padding-top: 19px;
    padding-bottom: 16px;
    width: 132px;
    height: auto;
}
.biglayout .content .block .b p.p{
    font-size: 15px;
    margin-left: 30px;
    width: 134px;
    height:140px;
}

.biglayout .content .block #b1{background-image:linear-gradient(rgb(255, 196, 0) , rgb(242, 98, 9) ) ;}
.biglayout .content .block #b2{background-image:linear-gradient(rgb(153, 11, 139), rgb(0, 60, 255)) ;}
.biglayout .content .block #b3{background-image:linear-gradient(rgb(255, 0, 60), rgb(255, 0, 217)) ;}
.biglayout .content .block #b4{background-image:linear-gradient(rgb(172, 35, 172), rgb(110, 6, 110)) ;}
    /* ********end chap1******* */

    /* chap 2 */
.chap2{
    width: 100%;
    height: 700px;
}
.chap2 .phantren{
    width: 100%;
    height: 350px;
    display:flex;
}
.chap2 .phantren .img{
    width:50%;
    height: 315px;
}
.chap2 .phantren .information {
    width: 50%;
    height: 315px;
    background-color: rgb(248, 246, 243);

}
.chap2 .phantren .information  p.tieude{
    font-size: 40px;
    font-family: segoe ui light;
    margin-left: 55px;
    margin-top: 45px;
    margin-bottom: 20px;
}
.chap2 .phantren .information  p.inf{
    font-size: 17px;
    width: 402px;
    margin-left: 55px;
    margin-bottom: 30px;
    color: rgb(129, 124, 124);
}
.chap2 .phantren .information  .button{
    margin-left: 55px;
    color: white;
    width: 150px;
    height: 41px;
    font-weight: 600;
    background-image: linear-gradient(to right, orange, rgb(237, 6, 64));
    border: none;
    transition: 0.3s;
}
.chap2 .phantren .information  .button:hover{
    opacity: 0.7;
}


.chap2 .phanduoi{
    width: 100%;
    height: 350px;
    display: flex;
    
}
.chap2 .phanduoi .img{
    width:50%;
    height: 315px;
}
.chap2 .phanduoi .information{
    width: 50%;
    height: 315px;
    background-color: rgb(248, 246, 243);
}
.chap2 .phanduoi .information  p.tieude{
    width: 400px;
    font-size: 40px;
    font-family: segoe ui light;
    margin-left: 55px;
    margin-top: 15px;
    margin-bottom: 10px;
}
.chap2 .phanduoi .information  p.inf{
    font-size: 17px;
    width: 402px;
    margin-left: 55px;
    margin-bottom: 10px;
    color: rgb(129, 124, 124);
}
.chap2 .phanduoi .information  .button{
    margin-left: 55px;
    color: white;
    width: 150px;
    height: 41px;
    font-weight: 600;
    background-image: linear-gradient(to right, orange, rgb(237, 6, 64));
    border: none;
    transition: 0.3s;
}
.chap2 .phanduoi .information  .button:hover{
    opacity: 0.7;
}



    /* *****end chap2***** */

    /* chap3 */
.chap3{
    width: 100%;
    height: 700px;

}
.chap3 .phantren1{
    width: 100%;
    height: 50%;
}
.chap3 .phantren1 .img1{
    width: 100%;
    height: 330px;
}
.chap3 .phantren1 .information1{
    width: 100%;
    height:300px;
}
.chap3 .phantren1 .information1 .khungtren1{
    width: 400px;
    height: 330px;
    background-image: linear-gradient(rgb(179 18 69 / 88%), rgb(227 93 120 / 83%));
    position: absolute;
    left: 230px;
    top: 1443px;
}
.chap3 .phantren1 .information1 .tieude1{
    margin-left: 50px;
    margin-top: 12px;
    margin-bottom: 10px;
    color: white;
    font-size: 30px;
 }
.chap3 .phantren1 .information1 .inf1{
    color: white;
    margin-left: 50px;
    font-size: 14px;
    margin-bottom: 15px;
 }
.chap3 .phantren1 .information1 .button1{ 
    margin-left: 50px;
    width: 200px;
    height: 41px;
    font-weight: 600;
    background-color: white;
    border: none;
}

   /* duoi */
.chap3 .phanduoi1{
    width: 100%;
    height: 50%;
    display: flex;
}
.chap3 .phanduoi1 .left1 {
    width: 50%;
    height: 300px   ;
   
}
.chap3 .phanduoi1 .left1 .khungd{
    background-image: linear-gradient(rgb(238, 238, 10), rgb(255, 98, 1));
    width: 400px;
    height: 315px;
    margin-left: 95px;
    margin-top: 30px
}


.chap3 .phanduoi1 .left1 .khungd h3.hleft1{
    font-size: 30px;
    margin-left: 57px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.chap3 .phanduoi1 .left1 .khungd ul.ulleft1{
    margin-left: 57px;
    margin-top: 12px;
    margin-bottom: 10px;
    list-style: none;
}
.chap3 .phanduoi1 .left1 .khungd ul.ulleft1 li{
    margin-bottom: 10px;
}

.chap3 .phanduoi1 .img_right1 {
    width: 43%;
    height: 315px;
    margin-top: 30px;
}

    /* ****end chap3***** */